:root {
  --c1: blue;
  --c2: red;
}

.sectionhed{
  font-size: 3rem;
  margin-top: 4rem;
  display: block;
  font-family: 'Walter Turncoat';
  line-height: 1.3;
}

.footnotes {
  border-top: 1px solid rgba(0,0,0,.5);
  padding-top: 2rem;
}

.footnotes .item {
  font-family: 'Lyon Text Web';
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.return {
  font-size: .8em;
  display: none;
}

.footnote {
  vertical-align: super;
  font-size: 0.6em;
  display: none;
}

.footnote a {
  color: #bd3b32;
  border-color: #bd3b32;
}

.footnote a:visited {
  color: #bd3b32;
  border-color: #bd3b32;
}

@media (max-width: 800px) {
  .footer-recirc__articles {
    display: block;
    max-width: 350px;
    margin: 0 auto;
  }
}

a.wordmark {
  display: block;
  max-width: 10rem;
}

.quote {
  margin-left: 1.5rem;
  display: block;
  font-size: 1.2rem;
}

a {
  color: rgba(0,0,0,.8);
}

a:hover{
  border-bottom:1px solid black;
}
