@font-face {
	font-family: 'Lyon Display Web';
	src: url('assets/fonts/lyon/LyonDisplay-Regular-Web.woff2') format('woff2'),
	url('assets/fonts/lyon/LyonDisplay-Regular-Web.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lyon Text Web';
	src: url('assets/fonts/lyon/LyonText-Regular-Web.woff2') format('woff2'),
	url('assets/fonts/lyon/LyonText-Regular-Web.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

$color: red;

p {
  text-align: center;
  font-family: 'Lyon Text Web'
}

h1 {
  font-size: 6rem;
  font-family: 'Walter Turncoat', sans-serif;
}

svg {
  display: block;
  width: 10rem;
}
